In [1]:
1+3

4

In [2]:
1.0

1.0

In [3]:
1/2

0.5

In [4]:
2 ** 4

16

In [5]:
4%2

0

In [6]:
4%4

0

In [7]:
5%2

1

In [8]:
num=12
name='Sam'

In [10]:
print('my name is {} and number is {}' .format(name,num
                                               )
     )

my name is Sam and number is 12

In [12]:
nest=[1,2,3,[4,5,['target']]]

In [13]:
nest[3][2][0]

'target'

In [14]:
d={'key1':'value', 'key2':'value2'}

In [16]:
d['key1']

'value'

In [17]:
d= {'k1':1,2,3}
List=d['k1]

SyntaxError: invalid syntax (<ipython-input-17-60e598555671>, line 1)

In [18]:
True

True

In [19]:
my_list =[1,2,3]

In [20]:
my_list[0]

1

In [21]:
t= (1,2,3)

In [24]:
t[0]

1

In [25]:
my_list[0]

1

In [26]:
my_list[0]='NEW'

In [27]:
my_

NameError: name 'my_' is not defined

In [28]:
my_list

['NEW', 2, 3]

In [29]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

In [30]:
{1,2,3}

{1, 2, 3}

In [31]:
{1,1,3,3,3,2,2,2}

{1, 2, 3}

In [32]:
set([1,1,2,2,3,3,3,3])

{1, 2, 3}

In [33]:
s={1,2,3}

In [34]:
s.add(5)

In [35]:
s

{1, 2, 3, 5}

In [36]:
s.add(5)

In [37]:
s

{1, 2, 3, 5}

In [38]:
1>2

False

In [39]:
1<2

True

In [40]:
1<2 and 2<3

True

In [41]:
1<2 and 2>3

False

In [42]:
if 1<2:
    print('yep')

yep

In [43]:
seq =[1,2,3,4,5]

In [44]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [47]:
i=1
while i<5:
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [50]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [49]:
range(0,5)

range(0, 5)

In [51]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [52]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
x = [1,2,3,4]

In [54]:
out=[]

for num in x:
    out.append(num**2)

In [55]:
print(out)

[1, 4, 9, 16]

In [56]:
  [num**2 for num in x]

[1, 4, 9, 16]

In [62]:
def my_func(name ='default name'):
    print('hello' + name)

In [63]:
my_func('vats')

hellovats

In [67]:
def square(num):
    """
    this is a docstring
    """
    return num**2

In [68]:
output=square(2)

In [69]:
output

4

In [70]:
square

In [71]:
def times2(var):
    return var*2

In [72]:
times2(6)

12

In [73]:
#map()

In [74]:
seq=[1,2,3,4,5]

In [75]:
map(times2, seq)

In [76]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [77]:
t = lambda var:var*2

In [78]:
t(6)

12

In [79]:
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

In [81]:
 filter(lambda num: num%2,seq)

In [82]:
filter

filter

In [83]:
tweet = 'go sports! #sports'

In [84]:
tweet.split('#')[1]

'sports'

In [85]:
d= {'k1':1, 'k2':2}

In [86]:
d

{'k1': 1, 'k2': 2}

In [87]:
d.keys()

dict_keys(['k1', 'k2'])

In [88]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [89]:
d.values()

dict_values([1, 2])

In [90]:
lst = [1,2,3]

In [91]:
lst.pop()

3

In [92]:
lst

[1, 2]

In [93]:
lst=[1,2,3,4,5]

In [94]:
item=lst.pop()

In [95]:
lst

[1, 2, 3, 4]

In [96]:
item

5

In [97]:
frst=lst.pop(0)

In [98]:
lst

[2, 3, 4]

In [99]:
frst

1

In [100]:
lst.append('new')

In [101]:
lst

[2, 3, 4, 'new']

In [102]:
'x' in [1,2,3]

False

In [104]:
'x' in ['x','y']

True

In [106]:
x = [(1,2),(3,4),(5,6)]

In [107]:
x[0][1]

2

In [111]:
for (a,b) in x:
    print (b)

2
4
6